* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
    
}

*::after,
*::before {
    box-sizing: inherit;
}
body {
    overflow-x: hidden;
}

h1, h2, h3, h5, h6 {
    font-family: "Playfair Display", serif;
    line-height: 0.9;
    font-weight: 400;
}

h4 {
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
}

h1 {
    font-size: 71px;
    letter-spacing: -1.42px;
}

h2, h3 {
    font-size: 85px;
    letter-spacing: -1.7px;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    
}

ul {
    list-style-type: none;
}

.BG_Grey {
    background-color: rgb(25, 25, 25);
    background-size: cover;

}

.BG_Black {
    background-color: #101010;
    background-size: cover;

}

            /* header */

.header {
    background: url(../img/BGheader.jpg) no-repeat;
    background-size: cover;
}

.container {
    max-width: 1211px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header__inner  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 231px;
}

.company_information li{
    display: inline-block;
}

.company_information__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

.company_information__list img {
    padding-right: 8px;
    vertical-align: -5px;
}

.company_information__list li:nth-child(2) {
    padding-right: 15px;
}

.company_information__list li:nth-child(3) {
    border-left: 1px solid #ffffff80;
    border-right: 1px solid #ffffff80;
    padding: 3px 6px 0px 49px;
    background: url(../img/Exclude.svg) no-repeat 24px center;
}

.company_information__list li:nth-child(4) {
    height: 32px;
    background: url(../img/Phone.svg)no-repeat 5px 5px;
    padding-top: 4px;
    padding-left: 30px;
    padding-right: 20px;
}

.language_header {
    display: flex;
    gap: 29px;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
}

.language_header__list {
    display: flex;
    gap: 10px;
}

.language_header__list li {
    font-size: 12px;
    padding: 0 2px;
    border-bottom: 1px #ffffff00 solid;
}

.language_header__list li:hover{
    border-bottom: 1px #fff solid;
    cursor: pointer;
}



            /*  burger */


.burger-btn {
  display: none;
}

.burger {
  display: block;
  width: 16px;
  height: 15px;  
  background: url(../img/Menu.svg) no-repeat 0px 0px;
  cursor: pointer;
  
}

            /*  shadow */

.shadow  {
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
    position: fixed;
    z-index: 3;
    left: 100vw;
}

.visible {
    display: block;
    opacity: 1;
}


            /*  menu_nav */


.menu_nav {
  top: 0;
  right: -525px;
  position: fixed;
  z-index: 4;
  padding-top: 49px;
  padding-left: 71px;
  padding-right: 65px;
  background-color: #1A1A1A;
  transition: .5s;
  width: 525px;
  height: 101%;
}

.language_menu_nav {
    display: flex;
    gap: 34px;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 120px;
    margin-right: 60px;
}

.language_menu_nav__list {
    display: flex;
    gap: 10px;
}

.language_menu_nav__list li {
    font-size: 12px;
    padding: 0 2px;
    border-bottom: 1px #ffffff00 solid;
}

.language_menu_nav__list li:hover{
    border-bottom: 1px #fff solid;
    cursor: pointer;
}

.close-btn {
  display: none;
}

.close {
  display: block;
  width: 17px;
  height: 17px;  
  background: url(../img/Close-icon.svg) no-repeat 0px 0px;
  cursor: pointer; 
}

.menu-list_nav li {
  width: 525px;
  padding-bottom: 25px;
  color: #656565;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  text-decoration: none;
}

.menu-list_nav li:nth-child(8) {
  padding-bottom: 58px;
}

.menu-list_nav li:nth-child(9) {
  padding-bottom: 0px;
}

.menu-list_nav li:nth-child(10) {
  padding-bottom: 102px;
}

.menu-list_nav li:nth-child(11) {
    padding-bottom: 79px;
}

.menu-list_nav li:hover {
    color: #fff;
    list-style-type: disc;
}

.privacy_policy {
    display: flex;
    gap: 52px;
}

.privacy_policy a {
    line-height: 1.62;
    color: #656565;
}


            /*main*/

.main {
    background: url(../img/BGmain.png) no-repeat 0 154px;
    background-size: cover;
}

.main__title {
    position: relative;
}

.main__title h1 {
    max-width: 900px;

}

.main__title p {
    width: 511px;
    padding-top: 29px;
    padding-bottom: 43px;
}

.main__title a {
    display: inline-block;
    border-bottom: 1px #fff solid;
    padding-bottom: 4px;
    margin-bottom: 212px;
}

.main__title button {
    position: absolute;
    right: 10px;
    bottom: 190px;
    color: #BE7E00;
    padding: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

            /* azur_life */


.agency {
    position: relative;
}

.agency h2 {
    width: 544px;
    padding-top: 144px;
    padding-bottom: 17px;
}

.agency a {
    position: absolute;
    top: 133px;
    left: 342px;
    border-bottom: 1px #fff solid;
    padding-bottom: 3px;

}

.agency p:nth-child(3) {
    width: 595px;
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 55px;
}

.agency p:nth-child(4) {
    width: 466px;
    height: 192px;
    margin-bottom: 15px;
}

.agency-statistics {
    width: 474px;
    display: flex;
    text-align: center;  
}

.agency-statistics p {
    padding-top: 29px;
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 45px;
}

.agency-statistics_2 {
    padding-left: 102px;
    padding-right: 12px;
    background: url(../img/Horizont_line.svg) no-repeat 0 60px;  
}

.agency-statistics_3 {
    padding-left: 90px;
    background: url(../img/Horizont_line.svg) no-repeat 0 60px;  
}

.agency button {
    background-color: #ffffff12;
    height: 57px;
    padding: 16px 34px;
    margin-bottom: 80px;
    border: none;
    border-radius: 7px;
    cursor: pointer;

}

@media all and (max-width: 980px) {
    .agency button {
    margin-bottom: 890px;

}
}


.natalia {
    position: relative;
    
}

.natalia img:first-child {
    position: absolute;
    z-index: 1;
    bottom: 66px;
    right: 0;
    width: 490px;
    height: 721px;
}

.natalia img:nth-child(2) {
    position: absolute;
    bottom: -76px;
    right: -170px;
    width: 915px;
    height: 1013px;
}

.natalia p:nth-child(3) {
    position: absolute;
    right: 247px;
    bottom: 133px;
    z-index: 2;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.natalia p:nth-child(4) {
    position: absolute;
    bottom: 103px;
    right: 300px;
    z-index: 2;
    

}

            /*available_objects*/

.available_objects-tittle {
    position: relative;
}

.available_objects-tittle h2 {
    padding-top: 113px;
    padding-bottom: 63px;
}

.available_objects-tittle a {
    position: absolute;
    top: 113px;
    right: 220px;
    border-bottom: 1px #fff solid;
    padding-bottom: 3px;
}

            /* available_objects-photo_list */

.available_objects-photo_list {
    display: flex;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

            /* available_objects-photo_item-1 */

.available_objects-photo_item-1 {
    position: relative;
    width: 708px;
    height: 675px;
} 

.available_objects-photo_item-1 img:first-child {
    position: absolute;
    top: -17px;
    right: 37px;
    z-index: 1;
    
}

.available_objects-photo_item-1 p:nth-child(2) {
    position: absolute;
    top: 56px;
    left: 54px;
    z-index: 1;

    font-size: 20px;
    line-height: 1.2;
    padding-left: 23px;
    background: url(../img/Exclude_icon-photo.svg) no-repeat 1px center;
}

.available_objects-photo_item-1 img:nth-child(3) {
    position: absolute;
    width: 708px;
    height: 675px;
}

.available_objects-photo_item-1 p:nth-child(4) {
    position: absolute;
    left: 48px;
    bottom: 255px;
    width: 82px;
    height: 34px;
    font-size: 14px;
    line-height: 1.51;
    padding: 7px 11px;
    border-radius: 8px;
    background-color: #FFF9EC;
    color: #BE7E00;
}

.available_objects-photo_item-1 h4 {
    position: absolute;
    left: 48px;
    bottom: 170px;
    width: 374px;
    height: 58px;
}

.available_objects-photo_item-1 p:nth-child(6) {
    position: absolute;
    left: 48px;
    bottom: 81px;
    width: 320px;
    height: 63px;
    font-size: 14px;
    line-height: 1.51;
}

            /* available_objects-photo_item-2 */

.available_objects-photo_item-2 {
    position: relative;
    width: 546px;
    height: 546px;
} 

.available_objects-photo_item-2 p:first-child {
    position: absolute;
    top: 41px;
    left: 42px;
    z-index: 1;

    font-size: 20px;
    line-height: 1.2;
    padding-left: 23px;
    background: url(../img/Exclude_icon-photo.svg) no-repeat 1px center;
}

.available_objects-photo_item-2 img:nth-child(2) {
    position: absolute;
    width: 546px;
    height: 546px;
}

.available_objects-photo_item-2 p:nth-child(3) {
    position: absolute;
    left: 42px;
    bottom: 246px;
    width: 82px;
    height: 34px;
    font-size: 14px;
    line-height: 1.51;
    padding: 7px 11px;
    border-radius: 8px;
    background-color: #FFF9EC;
    color: #BE7E00;
}

.available_objects-photo_item-2 h4 {
    position: absolute;
    left: 42px;
    bottom: 167px;
    width: 353px;
    height: 58px;
}

.available_objects-photo_item-2 p:nth-child(5) {
    position: absolute;
    left: 42px;
    bottom: 78px;
    width: 314px;
    height: 63px;
    font-size: 14px;
    line-height: 1.51;
}

            /* available_objects-photo_item-3 */

.available_objects-photo_item-3 {
    position: relative;
    width: 546px;
    height: 546px;
} 

.available_objects-photo_item-3 p:first-child {
    position: absolute;
    top: 41px;
    left: 42px;
    z-index: 1;

    font-size: 20px;
    line-height: 1.2;
    padding-left: 23px;
    background: url(../img/Exclude_icon-photo.svg) no-repeat 1px center;
}

.available_objects-photo_item-3 img:nth-child(2) {
    position: absolute;
    width: 546px;
    height: 546px;
}

.available_objects-photo_item-3 p:nth-child(3) {
    position: absolute;
    left: 42px;
    bottom: 246px;
    width: 82px;
    height: 34px;
    font-size: 14px;
    line-height: 1.51;
    padding: 7px 11px;
    border-radius: 8px;
    background-color: #FFF9EC;
    color: #BE7E00;
}

.available_objects-photo_item-3 h4 {
    position: absolute;
    left: 42px;
    bottom: 167px;
    width: 296px;
    height: 48px;
    font-size: 20px;
}

.available_objects-photo_item-3 p:nth-child(5) {
    position: absolute;
    left: 42px;
    bottom: 78px;
    width: 340px;
    height: 54px;
    font-size: 12px;
    line-height: 1.51;
}

            /* office_Azur_Life */

.office_Azur_Life_mask {
    background: url(../img/office_Azur_Life_mask.png) no-repeat 0px 0px;
    background-size: cover;
}

.office_Azur_Life_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}


@media all and (max-width: 1077px) {
    .office_Azur_Life_content {
    flex-direction: column-reverse;
    
}
}

.office_Azur_Life_left h3 {
    padding-top: 157px;
    padding-bottom: 93px;
}

.office_Azur_Life_left p:nth-child(2) {
    padding-left: 40px;
    padding-bottom: 50px;
    background: url(../img/Exclude_icon-photo.svg) no-repeat 1px 1px;
}

.office_Azur_Life_left p:nth-child(3) {
    width: 435px;
    height: 144px;
    margin-bottom: 157px;
    
}

.office_Azur_Life_left button {
    background-color: #ffffff12;
    width: 190px;
    height: 57px;
    padding: 17px 26px;
    margin-bottom: 210px;
    border: none;
    border-radius: 7px;
    cursor: pointer;

}

.office_Azur_Life_right img {
    width: 490px;
    height: 677px;
    margin-top: 54px;
}

.office_Azur_Life_mask {
    background: url(../img/office_Azur_Life_mask.png) no-repeat 0px 0;
    background-size: cover;
}

            /* property_management_concierge_service*/

            /* property_management_concierge_service_mask */

.property_management_concierge_service_mask {
    background: url(../img/Letter_&.png) no-repeat 240px 112px;
    background-size: 885px;
}

            /* property_management_content */

.property_management_content {
    display: flex;
    gap: 63px;
    flex-wrap: wrap;
}

@media all and (max-width: 1158px) {
    .property_management_content {
    justify-content: center;
}
}

            /* property_management_left */

.property_management_left {
    position: relative;
}

.property_management_left h3 {
    padding-top: 180px;
    padding-bottom: 58px;
}

.property_management_left a {
    position: absolute;
    top: 253px;
    right: -80px;
    border-bottom: 1px #fff solid;
    padding-bottom: 3px;
}

.property_management_left p {
    width: 364px;
    height: 312px;
    margin-bottom: 43px;
}

            /* concierge_service_right */

.concierge_service_right {
    position: relative;
}

.concierge_service_right h3 {
    padding-top: 590px;
    padding-bottom: 43px;
}

@media all and (max-width: 1158px) {
    .concierge_service_right h3 {
    padding-top: 0px;
}
}



.concierge_service_right a {
    position: absolute;
    right: -51px;
    bottom: 520px;
    border-bottom: 1px #fff solid;
    padding-bottom: 3px;
}

.concierge_service_right p {
    width: 393px;
    height: 192px;
    margin-bottom: 141px;
}

            /* advantages Azur Life */

.advantages_Azur_Life_inner {
    position: relative;

}

.advantages_Azur_Life_inner h3 {
    padding-top: 78px;
    padding-bottom: 65px;

}

.advantages_Azur_Life_inner img:nth-child(2) {
    position: absolute;
    bottom: 30px;
    left: 415px;

}

@media all and (max-width: 980px) {
    .advantages_Azur_Life_inner img:nth-child(2) {
    display: none;

}
}



.advantages_Azur_Life_content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.advantages_Azur_Life_item_1 {
    text-align: center;
    width: 283px;
    margin-top: 180px;
}

.advantages_Azur_Life_item_1 img {
    width: 282px;
}

.advantages_Azur_Life_item_1 p:nth-child(2) {
    font-size: 20px;
    line-height: 1.2;
    padding-top: 31px;
    padding-bottom: 62px;
}

.advantages_Azur_Life_item_2 {
    text-align: center;
    width: 395px;
    height: 677px;
    border-radius: 14px;
    background-color: #ffffff12;
    backdrop-filter:blur(6px);
    margin-bottom: 114px;
}

.advantages_Azur_Life_item_2 img {
    width: 282px;
    padding-top: 152px;

}

.advantages_Azur_Life_item_2 p:nth-child(2) {
    padding: 0px 101px;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 31px;
    margin-bottom: 70px;
}

.advantages_Azur_Life_item_2 p:nth-child(3) {
    padding: 0px 30px;
    font-size: 20px;
    line-height: 1.2;
}

.advantages_Azur_Life_item_3 {
    text-align: center;
    width: 283px;
    margin-top: 120px;
}

.advantages_Azur_Life_item_3 img {
    padding-bottom: 122px;

}

.advantages_Azur_Life_item_3 p {
    padding-bottom: 120px;

}



            /* blog_home */

.blog_home-tittle {
    position: relative;
}

.blog_home-tittle h3 {
    padding-top: 105px;
    padding-bottom: 80px;
}

.blog_home-tittle img:nth-child(2) {
    position: absolute;
    top: 78px;
    left: 127px;
    
}

            /* blog_home-photo_list */

.blog_home-photo_list {
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

            /* blog_home-photo_item-1 */

.blog_home-photo_item-1 {
    position: relative;
    width: 708px;
    height: 675px;
} 

.blog_home-photo_item-1 img:first-child {
    position: absolute;
    width: 708px;
    height: 675px;
}

.blog_home-photo_item-1 a:nth-child(2) {
    position: absolute;
    top: 47px;
    right: 47px;
    z-index: 1;

    font-size: 14px;
    line-height: 1.51;
}

.blog_home-photo_item-1 p:nth-child(3) {
    position: absolute;
    top: 39px;
    left: 48px;
    width: 65px;
    height: 34px;
    font-size: 14px;
    line-height: 1.51;
    padding: 7px 9px;
    border-radius: 8px;
    background-color: #FFF9EC;
    color: #BE7E00;
}

.blog_home-photo_item-1 h4 {
    position: absolute;
    left: 48px;
    bottom: 130px;
    width: 367px;
    height: 58px;
}

.blog_home-photo_item-1 p:nth-child(5) {
    position: absolute;
    left: 48px;
    bottom: 41px;
    width: 320px;
    height: 63px;
    font-size: 14px;
    line-height: 1.51;
}

            /* blog_home-photo_item-2 */

.blog_home-photo_item-2 {
    position: relative;
    width: 546px;
    height: 546px;
} 

.blog_home-photo_item-2 img:first-child {
    position: absolute;
    width: 546px;
    height: 546px;
}

.blog_home-photo_item-2 a:nth-child(2) {
    position: absolute;
    top: 47px;
    right: 47px;
    z-index: 1;
    font-size: 14px;
    line-height: 1.51;
}

.blog_home-photo_item-2 p:nth-child(3) {
    position: absolute;
    top: 43px;
    left: 42px;
    width: 82px;
    height: 34px;
    font-size: 14px;
    line-height: 1.51;
    padding: 7px 13px;
    border-radius: 8px;
    background-color: #FFF9EC;
    color: #BE7E00;
}

.blog_home-photo_item-2 h4 {
    position: absolute;
    left: 42px;
    bottom: 134px;
    width: 355px;
    height: 58px;
}

.blog_home-photo_item-2 p:nth-child(5) {
    position: absolute;
    left: 42px;
    bottom: 45px;
    width: 340px;
    height: 63px;
    font-size: 14px;
    line-height: 1.51;
}

            /* blog_home-photo_item-3 */

.blog_home-photo_item-3 {
    position: relative;
    width: 546px;
    height: 546px;
} 

.blog_home-photo_item-3 p:first-child {
    position: absolute;
    top: 41px;
    left: 42px;
    z-index: 1;

    font-size: 20px;
    line-height: 1.2;
    padding-left: 23px;
    background: url(../img/Exclude_icon-photo.svg) no-repeat 1px center;
}

.blog_home-photo_item-3 img:nth-child(2) {
    position: absolute;
    width: 546px;
    height: 546px;
}

.blog_home-photo_item-3 p:nth-child(3) {
    position: absolute;
    left: 42px;
    bottom: 209px;
    width: 82px;
    height: 34px;
    font-size: 14px;
    line-height: 1.51;
    padding: 7px 11px;
    border-radius: 8px;
    background-color: #FFF9EC;
    color: #BE7E00;
}

.blog_home-photo_item-3 h4 {
    position: absolute;
    left: 42px;
    bottom: 134px;
    width: 296px;
    height: 48px;
    font-size: 20px;
}
.blog_home-photo_item-3 p:nth-child(5) {
    position: absolute;
    left: 42px;
    bottom: 45px;
    width: 320px;
    height: 54px;
    font-size: 12px;
    line-height: 1.51;
}

            /* feedback_block */

.feedback_block {
    background: url(../img/Feedback_block_\ BG.jpg) no-repeat;
    background-size: cover;
}

.feedback_block_mask {
    background: url(../img/Feedback_block_mask.png) no-repeat;
    background-size: cover;

}

.feedback_block_content {
    text-align: center;
    position: relative;
}

.feedback_block_content h3 {
    padding-top: 275px;
    padding-bottom: 66px;
    
}

.feedback_block_form input:first-child {
    width: 429px;
    height: 54px;
    padding-left: 21px;
    margin-right: 9px;
    margin-bottom: 20px;
    border-radius: 13px;
    border: 1px solid #ffffff80;
    background: transparent;
}

.feedback_block_form input:first-child::placeholder {
    font-size: 20px;
    line-height: 1.6;
    color: #ffffff80;
}

.feedback_block_form input:nth-child(2) {
    width: 186px;
    height: 54px;
    color: #ffffff80;
    font-size: 20px;
    line-height: 1.6;
    border-radius: 13px;
    border: 1px solid #ffffff80;
    background: transparent;
    cursor: pointer;
}

.feedback_block_form input:nth-child(4) {
    display: none;
}

.feedback_block_form label:nth-child(5) {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff80;
    border-radius: 6px;
    vertical-align: -6px;
}

.feedback_block_form input:nth-child(4):checked+label:nth-child(5) {
    background: url(../img/Vector_form.svg) no-repeat 2px 2px;
}

.feedback_block_form label:nth-child(6) {
    display: inline-block;
    width: 400px;
    height: 19px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6;
    color: #ffffff80;
    margin-bottom: 416px;
}

.feedback_block_content a {
    position: absolute;
    bottom: 90px;
    right: 0px;
    font-size: 20px;
    padding-right: 17px;
    background: url(../img/Arrow.svg) no-repeat 62px 11px;
}

            /* footer */

.footer_mask {
    background: url(../img/Footer_mask.png) no-repeat;
    background-size: cover;

}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.footer_feedback {
    position: relative;
}

.footer_feedback label {
    display: inline-block;
    margin-top: 124px;
}

.footer_feedback input:nth-child(3) {
    width: 402px;
    margin-top: 24px;
    margin-bottom: 29px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ffffff80;
}

.footer_feedback input:nth-child(5) {
    width: 402px;
    margin-bottom: 29px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ffffff80;
}

.footer_feedback input:nth-child(7) {
    width: 402px;
    margin-bottom: 226px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ffffff80;
}

.footer_feedback input:nth-child(9) {
    position: absolute;
    top: 343px;
    left: 263px;
    width: 140px;
    height: 30px;
    font-weight: 500;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.footer_feedback a:nth-child(2) {
    position: absolute;
    bottom: 266px;
    left: 335px; 
}

.footer_feedback a:nth-child(3) {
    position: absolute;
    bottom: 266px;
    left: 377px;
}

.footer_feedback p:nth-child(4) {
    padding-left: 32px;
    background: url(../img/Phone.svg) no-repeat 1px 1px;

}

.footer_feedback p:nth-child(5) {
    padding: 16px 0px 16px 32px;
    background: url(../img/Email_icon_footer.svg) no-repeat 0px 22px;
}

.footer_feedback p:nth-child(6) {
    padding-left: 32px;
    padding-bottom: 196px;
    background: url(../img/Exclude_icon-photo.svg) no-repeat 0px 1px;
}

.footer_nav_menu {
    display: flex;
    gap: 27px;
}

.footer_nav_menu ul:first-child li {
    padding: 11px 0px;
    color: #fff;
    font-weight: 300;
}

.footer_nav_menu ul:first-child li:first-child {
    color: #fff;
    font-weight: 500;
}

.footer_nav_menu ul:first-child li:nth-child(10) {
    padding: 11px 0px 0px;
    color: #fff;
    font-weight: 300;
}

.footer_nav_menu ul:first-child li:nth-child(11) {
    padding: 0px 0px 16px;
    color: #fff;
    font-weight: 300;
}

.footer_nav_menu ul:nth-child(2) li{
    color: #ffffff80;
    font-weight: 300;
    line-height: 1.37;
}

.footer_nav_menu ul:nth-child(2) li{
    padding: 12px 0px;
    font-weight: 300;
}

.footer_nav_menu ul:nth-child(2) li:first-child {
    font-weight: 500;
}

.footer_nav_menu ul:nth-child(2) li:nth-child(5) {
    padding-bottom: 0px;

}

.footer_nav_menu ul:nth-child(2) li:nth-child(7) {
    padding-bottom: 181px;

}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/



