* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
    
}

*::after,
*::before {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h5, h6 {
    font-family: "Playfair Display", serif;
    line-height: 0.9;
    font-weight: 400;
}

h1 {
    font-size: 71px;
    letter-spacing: -1.42px;
}

h2, h3 {
    font-size: 85px;
    letter-spacing: -1.7px;
}

h4 {
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
}

h5 {
    font-size: 62px;
    letter-spacing: -1.24px;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

ul {
    list-style-type: none;
}

.BG_Grey {
    background-color: rgb(25, 25, 25);
    background-size: cover;

}

.BG_Black {
    background-color: #101010;
    background-size: cover;

}

            /* header */


.header {
    background: url(../img/BGheader_2.jpg) no-repeat;
    background-size: cover;
}

.container {
    max-width: 1211px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header__inner  {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 48px;
    padding-bottom: 70px;
}

.company_information li{
    display: inline-block;
    padding-bottom: 32px;
}

.company_information__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    }

.company_information__list img {
    padding-right: 8px;
    vertical-align: -5px;
}

.company_information__list li:nth-child(2) {
    padding-right: 15px;
}

.company_information__list li:nth-child(3) {
    border-left: 1px solid #ffffff80;
    border-right: 1px solid #ffffff80;
    padding: 3px 6px 0px 49px;
    background: url(../img/Exclude.svg) no-repeat 24px center;
}

.company_information__list li:nth-child(4) {
    height: 32px;
    background: url(../img/Phone.svg)no-repeat 5px 5px;
    padding-top: 4px;
    padding-left: 30px;
    padding-right: 20px;
}

.company_information a:nth-child(2) {
    color: #ffffff99;
    font-size: 12px;
    padding-right: 16px;
    background: url(../img/Vector_right.svg) no-repeat 110px 5px;
}

.company_information a:nth-child(3) {
    color: #fff;
    font-size: 12px;
    
}

.language_header {
    display: flex;
    gap: 29px;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
}

.language_header__list {
    display: flex;
    gap: 10px;
}

.language_header__list li {
    font-size: 12px;
    padding: 0 2px;
    border-bottom: 1px #ffffff00 solid;
}

.language_header__list li:hover{
    border-bottom: 1px #fff solid;
    cursor: pointer;
}

            /*  burger */


.burger-btn {
  display: none;
}

.burger {
  display: block;
  width: 16px;
  height: 15px;  
  background: url(../img/Menu.svg) no-repeat 0px 0px;
  cursor: pointer;
  
}

            /*  shadow */

.shadow  {
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
    position: fixed;
    z-index: 3;
    left: 100vw;
}

.visible {
    display: block;
    opacity: 1;
}


            /*  menu_nav */



.menu_nav {
  top: 0;
  right: -525px;
  position: fixed;
  z-index: 4;
  padding-top: 49px;
  padding-left: 71px;
  padding-right: 65px;
  background-color: #1A1A1A;
  transition: .5s;
  width: 525px;
  height: 101%;
}

.language_menu_nav {
    display: flex;
    gap: 34px;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 120px;
    margin-right: 60px;
}

.language_menu_nav__list {
    display: flex;
    gap: 10px;
}

.language_menu_nav__list li {
    font-size: 12px;
    padding: 0 2px;
    border-bottom: 1px #ffffff00 solid;
}

.language_menu_nav__list li:hover{
    border-bottom: 1px #fff solid;
    cursor: pointer;
}

.close-btn {
  display: none;
}

.close {
  display: block;
  width: 17px;
  height: 17px;  
  background: url(../img/Close-icon.svg) no-repeat 0px 0px;
  cursor: pointer; 
}

.menu-list_nav li {
  width: 525px;
  padding-bottom: 25px;
  color: #656565;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  text-decoration: none;
}

.menu-list_nav li:nth-child(8) {
  padding-bottom: 58px;
}

.menu-list_nav li:nth-child(9) {
  padding-bottom: 0px;
}

.menu-list_nav li:nth-child(10) {
  padding-bottom: 102px;
}

.menu-list_nav li:nth-child(11) {
    padding-bottom: 79px;
}

.menu-list_nav li:hover {
    color: #fff;
    list-style-type: disc;
}

.privacy_policy {
    display: flex;
    gap: 52px;
}

.privacy_policy a {
    line-height: 1.62;
    color: #656565;
}


            /*main*/


.main h2 {
    max-width: 1000px;

}

.main p {
    max-width: 473px;
    padding-top: 40px;
    padding-bottom: 25px;
}

.main button {
    color: #BE7E00;
    padding: 16px;
    margin-bottom: 224px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

            /* quote_forbes_block */


.quote_forbes_block {
    background: url(../img/Quote_forbes_mask.png) no-repeat;
    background-size: cover;
    background-color: rgb(25, 25, 25);
}

.quote_forbes_content {
    height: 526px;
}

.quote_forbes_content_inner {
    position: relative;
    top: -126px;
    max-width: 1189px;
    margin-left: 1px;
    margin-bottom: 134px;
    min-height: 758px;
    background: url(../img/Letter\ A_2.png)no-repeat;
    background-size: cover;
    background-color: #FFFBF2;
}

.quote_forbes_content_inner h5 {
    text-align: center;
    padding: 295px 45px 38px;
    color: #101010;
    background: url(../img/Сircuit\ Azur\ Life_2.svg) no-repeat 1040px 260px;
} 


@media all and (max-width: 1150px) {
    .quote_forbes_content_inner h5 {
    background: none;
} 
}



.quote_forbes_content_inner p {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    padding-bottom: 233px;
    color: #1D1717;
}

            /* specialists_Azur-Life  */


.specialists_Azur-Life {
    background: url(../img/Letter\ &_2.png) no-repeat 59% 72%;
    background-size: 980px;
    background-color: #101010;
}

.specialists_Azur-Life_content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}



@media all and (max-width: 1090px) {
    .specialists_Azur-Life_content {
    justify-content: center;
}
}


.specialists_Azur-Life h3 {
    width: 538px;
    margin-right: 45px;
    padding-top: 273px;
    
}


@media all and (max-width: 682px) {
    .specialists_Azur-Life h3 {
    padding-top: 350px;
    
}
}

@media all and (max-width: 645px) {
    .specialists_Azur-Life h3 {
    padding-top: 490px;
    
}
}


.specialist__Eva {
    position: relative;
    width: 390px;
    height: 585px;
    margin-top: 130px;
    margin-right: -25px;
    margin-left: 218px;
    margin-bottom: 238px;
    background: url(../img/Eva_background.png), url(../img/Eva.jpg) no-repeat;
    background-size: cover, cover;
    
}

.specialist__Eva p {
    text-align: right;
    
}

.specialist__Eva p:first-child {
    padding-right: 222px;
    margin-top: 355px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2; 
}

.specialist__Eva p:nth-child(2) { 
    padding-right: 222px; 
}

.specialist__Eva p:nth-child(3) {
    position: absolute;
    right: 225px;
    width: 350px;
    padding-top: 29px;  
}

.specialist__Natalia {
    margin-top: -110px;
    margin-bottom: 342px;
    width: 488px;
    height: 721px;
    background:url(../img/Natalia_background.png), url(../img/Natalia_photo.jpg)  no-repeat;
    background-size: cover, cover;
}

.specialist__Natalia p {
    margin-left: 215px;
}

.specialist__Natalia p:first-child {
    margin-top: 595px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;  
}

.specialist__Natalia p:nth-child(3) {
    padding-top: 30px;
    width: 310px;
}
 
            /* expertise_block */

           
.expertise_inner_top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media all and (max-width: 1084px) {
    .expertise_inner_top{
    flex-direction: column-reverse;
    align-items: center;
}
    
}






.expertise>h3 {
    width: 479px;
    padding-top: 11px;
    padding-bottom: 30px;
}

.expertise>p {
    width: 419px;
    height: 192px;
    margin-bottom: 46px;
}

.expertise-statistics {
    display: flex;
    text-align: center;
    margin-bottom: 46px;  
}

.expertise-statistics p {
    padding-top: 29px;
    font-size: 12px;
    line-height: 1.2;
}

.expertise-statistics_2 {
    padding-left: 102px;
    padding-right: 12px;
    background: url(../img/Horizont_line.svg) no-repeat 0 60px;  
}

.expertise-statistics_3 {
    padding-left: 90px;
    background: url(../img/Horizont_line.svg) no-repeat 0 60px;  
}

.expertise button {
    background-color: #ffffff12;
    width: 236px;
    height: 57px;
    padding: 17px 20px;
    margin-bottom: 125px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.expertise_photo img:first-child {
    width: 586px;
    height: 803px;
    margin-top: -91px;
    margin-bottom: 78px;
}

.expertise_inner_bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.expertise_inner_bottom a {
    display: inline-block;
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 8px;
}

.expertise_inner_bottom a:first-child {
    margin-left: 20px;
    margin-bottom: 47px;
}

.expertise_inner_bottom a:nth-child(2) {
    margin-right: 23px;  
}

.expertise_inner_bottom a:hover {
    border-bottom: 0.5px solid #fff;
    cursor: pointer;
}

.vector_horizont {
    position: relative;
}

.vector_horizont img {
    position: absolute;
    bottom: 60px;
}

.vector_horizont img:first-child {
    left: 0;  
}

.vector_horizont img:nth-child(2) {
    right: 0;
}

            /* footer */


.footer_mask {
    background: url(../img/Footer_mask.png) no-repeat;
    background-size: cover;

}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.footer_feedback {
    position: relative;
}

.footer_feedback label {
    display: inline-block;
    margin-top: 124px;
}

.footer_feedback input:nth-child(3) {
    width: 402px;
    margin-top: 24px;
    margin-bottom: 29px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ffffff80;
}

.footer_feedback input:nth-child(5) {
    width: 402px;
    margin-bottom: 29px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ffffff80;
}

.footer_feedback input:nth-child(7) {
    width: 402px;
    margin-bottom: 226px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ffffff80;
}

.footer_feedback input:nth-child(9) {
    position: absolute;
    top: 343px;
    left: 263px;
    width: 140px;
    height: 30px;
    font-weight: 500;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.footer_feedback a:nth-child(2) {
    position: absolute;
    bottom: 266px;
    left: 335px; 
}

.footer_feedback a:nth-child(3) {
    position: absolute;
    bottom: 266px;
    left: 377px;
}

.footer_feedback p:nth-child(4) {
    padding-left: 32px;
    background: url(../img/Phone.svg) no-repeat 1px 1px;

}

.footer_feedback p:nth-child(5) {
    padding: 16px 0px 16px 32px;
    background: url(../img/Email_icon_footer.svg) no-repeat 0px 22px;
}

.footer_feedback p:nth-child(6) {
    padding-left: 32px;
    padding-bottom: 196px;
    background: url(../img/Exclude_icon-photo.svg) no-repeat 0px 1px;
}

.footer_nav_menu {
    display: flex;
    gap: 27px;
}

.footer_nav_menu ul:first-child li {
    padding: 11px 0px;
    color: #fff;
    font-weight: 300;
}

.footer_nav_menu ul:first-child li:first-child {
    color: #fff;
    font-weight: 500;
}

.footer_nav_menu ul:first-child li:nth-child(10) {
    padding: 11px 0px 0px;
    color: #fff;
    font-weight: 300;
}

.footer_nav_menu ul:first-child li:nth-child(11) {
    padding: 0px 0px 16px;
    color: #fff;
    font-weight: 300;
}

.footer_nav_menu ul:nth-child(2) li{
    color: #ffffff80;
    font-weight: 300;
    line-height: 1.37;
}

.footer_nav_menu ul:nth-child(2) li{
    padding: 12px 0px;
    font-weight: 300;
}

.footer_nav_menu ul:nth-child(2) li:first-child {
    font-weight: 500;
}

.footer_nav_menu ul:nth-child(2) li:nth-child(5) {
    padding-bottom: 0px;
}

.footer_nav_menu ul:nth-child(2) li:nth-child(7) {
    padding-bottom: 181px;
}


